:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(169, 192, 195);
    --entry: rgb(180, 204, 207);
    --primary: rgb(37, 37, 37);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgba(90, 138, 144, 0.492); 
    --content: rgb(32, 28, 28);
    --hljs-bg: rgb(169, 192, 195);
    --code-bg: rgb(169, 192, 195);
    --border: rgb(90, 138, 144);
    --text-em: rgb(37, 82, 131);
}

.dark {
    --theme: rgb(7, 57, 23);
    --entry: rgb(29, 46, 33);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(0,14,21);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(64, 112, 79);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
