<style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
</style>
    <div class="row">
      <div class="column" id="artworks">
          <img src="/img/gallery/artworks/IMG_7532.jpg">
          <img src="/img/gallery/artworks/boymother1(1).JPG">
          <img src="/img/gallery/artworks/IMG_8400.JPG">
          <img src="/img/gallery/artworks/IMG_8401.JPG">
          <img src="/img/gallery/artworks/IMG_8411.jpg">
          <img src="/img/gallery/artworks/IMG_8376.JPG">
          <img src="/img/gallery/artworks/IMG_8389.JPG">
          <img src="/img/gallery/artworks/nurseshavehair(1).JPG">
          <img src="/img/gallery/artworks/IMG_8408.jpg">
          <img src="/img/gallery/artworks/IMG_8381.JPG">
          <img src="/img/gallery/artworks/IMG_8382.JPG">
          <img src="/img/gallery/artworks/IMG_5922.JPG">
          <img src="/img/gallery/artworks/IMG_8383.jpg">
          <img src="/img/gallery/artworks/IMG_5213.png">
          <img src="/img/gallery/artworks/IMG_7947.JPG">
          <img src="/img/gallery/artworks/IMG_5573.JPG">
          <img src="/img/gallery/artworks/boymother2(1).JPG">
      </div>
      <div class="column" id="digital">
          <img src="/img/gallery/digital/DTI_blender.PNG">
          <img src="/img/gallery/digital/tda_perdiodicity_100_300_hexagon!.PNG">
          <img src="/img/gallery/digital/Chess.png">
          <img src="/img/gallery/digital/svg_bg_p6e.svg">
          <img src="/img/gallery/digital/Screenshot 2023-03-01 at 1.47.35 PM.png">
          <img src="/img/gallery/digital/Delaunay_length_100_600_xy.PNG">
          <img src="/img/gallery/digital/svg_bg_p5b.svg">
          <img src="/img/gallery/digital/hw2_ creative design.png">
          <img src="/img/gallery/digital/hw8-screenshot.png">
          <img src="/img/gallery/digital/Screenshot 2023-03-12 at 5.19.34 PM.png">
          <img src="/img/gallery/digital/Screenshot 2023-03-08 at 2.40.44 PM.png">
          <img src="/img/gallery/digital/tda_megatile_100_600_xy.PNG">
          <img src="/img/gallery/digital/delaunay_angle_100_600_xy.PNG">
      </div>
      <div class="column" id="handicrafts">
          <img src="/img/gallery/handicrafts/IMG_8460.JPG">
          <img src="/img/gallery/handicrafts/IMG_1082.png">
          <img src="/img/gallery/handicrafts/IMG_7194.JPG">
          <img src="/img/gallery/handicrafts/IMG_0358.JPG">
          <img src="/img/gallery/handicrafts/IMG_1250.JPG">
          <img src="/img/gallery/handicrafts/IMG_8170.JPG">
          <img src="/img/gallery/handicrafts/IMG_5240.jpg">
          <img src="/img/gallery/handicrafts/IMG_8163.JPG">
          <img src="/img/gallery/handicrafts/tooth.JPG">
          <img src="/img/gallery/handicrafts/IMG_7448.jpg">
          <img src="/img/gallery/handicrafts/IMG_8790.JPG">
          <img src="/img/gallery/handicrafts/IMG_9539.jpg">
          <img src="/img/gallery/handicrafts/IMG_8332.JPG">
          <img src="/img/gallery/handicrafts/IMG_9773.JPG">
      </div>
    </div>
  </div>
    