<style>
    .grid-container {
      display: grid;
    }

    .item2 {
      grid-column: 2 / span 3;
      grid-row: 1;
    }

    .item3 {
        grid-row: 1;
        grid-column: 4;
    }

    .item4 {
      grid-column: 2 / span 3;
      grid-row: 2;
    }
    
    .item5 {
      grid-row: 2;
      grid-column: 4;
    }

</style>

<div class="grid-container">
    <div class="grid-item item1"><img width="150" src="/img/projects/brown-explorecsr/svg_prototype.svg"></div>
    <div class="grid-item item2"><img width="300" src="/img/projects/brown-explorecsr/gradients.svg"></div>
    <div class="grid-item item3"><img width="150" src="/img/projects/brown-explorecsr/green dithering.png"></div>  
    <div class="grid-item item4"><img width="330" src="/img/projects/brown-explorecsr/svg_bg_p2.svg"></div>
    <div class="grid-item item5"><img width="150" src="/img/projects/brown-explorecsr/ball dithering.png"></div>
    <div class="grid-item item6"><img width="150" src="/img/projects/brown-explorecsr/diagonal dithering.png"></div>
    <div class="grid-item item7"><img width="170" src="/img/projects/brown-explorecsr/heart.svg"></div>
    <div class="grid-item item8"><img width="150" src="/img/projects/brown-explorecsr/svg_bg_p6b.svg"></div>
    <div class="grid-item item9"><img width="150" src="/img/projects/brown-explorecsr/svg_bg_p5c.svg"></div>
    <div class="grid-item item10"><img width="150" src="/img/projects/brown-explorecsr/svg_bg_p6g.svg"></div>
</div>

