<div class="row" style="display: flex; flex-wrap: wrap; padding: 8px 4px">
    <div class="column" style="flex: 33%; padding: 4px 7px; display: block">
        <img width="400" src="/img/projects/brown-explorecsr/svg_bg_p2.svg">
        <img width="200" src="/img/projects/brown-explorecsr/diagonal dithering.png">
        <img width="200" src="/img/projects/brown-explorecsr/svg_bg_p6b.svg">
    </div>
    <div class="column" style="flex: 33%; padding: 4px 7px; display: block">
        <img width="150" src="/img/projects/brown-explorecsr/svg_prototype.svg">
        <img width="200" src="/img/projects/brown-explorecsr/heart.svg">
    </div>
    <div class="column" style="flex: 33%; padding: 4px 7px; display: block">
        <img width="200" src="/img/projects/brown-explorecsr/gradients.svg">
        <img width="200" src="/img/projects/brown-explorecsr/green dithering.png">
        <img width="200" src="/img/projects/brown-explorecsr/svg_bg_p6g.svg">
    </div>
</div>

